<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice processed</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <h2>Invoice has been processed!</h2>

</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Invoice Review</div>
        <div class="panel-body"  th:each="invoice : ${Invoice}">
            <div class="row">
                <div class="col-sm-2"><b>Invoice ID</b></div>
                <div class="col-sm-8" th:text="${invoice._id}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Invoice date</b></div>
                <div class="col-sm-8" th:text="${invoice.date}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Is invoice Accepted?</b></div>
                <div class="col-sm-8" th:text="${invoice.isRejected}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Invoice Total</b></div>
                <div id="total-cost" class="col-sm-8" th:text="${invoice.total}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Invoice Status</b></div>
                <div class="col-sm-8" th:text="${invoice.invoiceStatus}"></div>
            </div>

        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>