    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice View!</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Invoice Review</div>
        <div class="panel-body"  th:each="invoice : ${Invoices}">
            <div class="row">
                <div class="col-sm-2"><b>Invoice ID</b></div>
                <div class="col-sm-8" th:text="${invoice._id}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Invoice date</b></div>
                <div class="col-sm-8" th:text="${invoice.date}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Is invoice Accepted?</b></div>
                <div class="col-sm-8" th:text="${invoice.isRejected}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Invoice Total</b></div>
                <div id="total-cost" class="col-sm-8" th:text="${invoice.total}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Invoice Status</b></div>
                <div class="col-sm-8" th:text="${invoice.invoiceStatus}"></div>
            </div>

        </div>
    </div>
</div>
<a class="btn btn-default" th:href="@{/result}">Accept</a>
<a class="btn btn-default" th:href="@{/result}">Reject Invoice</a>
<a class="btn btn-default" th:href="@{/result}">Save for correction</a>


<!--<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse" id="navbar-header">
            <ul class="nav navbar-nav navbar-middle">
                <li><b>Invoice recieved?</b></li>
                <li class = "active"><button type="button" class="btn btn-warning navbar-btn"><span class="glyphicon glyphicon-check"></span> Verify</button></li>
                <li><button type="button" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-remove"></span> Reject</button></li>
                <li><button type="button" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-remove"></span> Cancel</button></li>
                <li><button type="button" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-ok"></span> Accept</button></li>
            </ul>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

    </div>
</div>-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>